.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.leftCol {
  display: flex;
  align-items:center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav a {
  margin-right: 20px; 
}

.nav a:last-child {
  margin-right: 0; 
}

.nav .item {
  margin-left: 10px;
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 16px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button{
  width: 150px;
  height:50px;
  border-radius: 4px;
  margin:50px;
  font-size: 20px;
}
.on{
  color:rgb(224, 43, 43);
  background-color: rgb(17, 15, 15);
}
.off{
  color:rgb(40, 236, 105);
  background-color: rgb(94, 75, 163);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
